.place__title {
  width: 460px;
  min-height: 76px;
  max-height: 152px;
  text-align: left; 
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
  border: 1px solid red;
}


@media screen and (max-width: 1124px) {
    .place__title  {
      width: 440px;
      
    
    }


@media screen and (max-width: 964px) {
    .place__title {
     width: 340px;
     min-height: 46px;
     max-height: 92px;
     font-size: 42px;
     line-height: 46px;
    }
}

@media screen and (max-width: 568px) {
    .place__title {
       width: 288px;
       height: 35px;
       font-size: 32px;
       line-height: 35px;

  
    }
}

