.intro__list {
    max-width: 690px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

@media screen and (max-width: 1124px) {
    .intro {
       font-weight: 700;
    }
}

@media screen and (max-width: 964px) {
    .intro {
        max-width: 720px;
       
    }
}

@media screen and (max-width: 700px) {
    .intro__list {
        width: 288px;
       font-size: 12px;
       line-height: 18px;
       font-weight: 700;
    }
}