.header {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 56px;
   
}

@media screen and (max-width: 1124px) {
    .header {
        max-width: 928px;
        margin: 0;
        padding: 0 0 48px;
    }
}

@media screen and (max-width: 964px) {
    .header {
        max-width: 720px;
        padding: 0 0 48px;
        

    }
}

@media screen and (max-width: 568px) {
    .header {
        max-width: 288px;
        min-height: 42px;
        padding: 0 0 48px
        

    }
}

