.header {
    font-family: 'Inter', Arial, sans-serif;
    width: 1184px;
    min-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 56px;
    border: 1px solid red;
}

@media screen and (max-width: 1124px) {
    .header {
        max-width: 928px;
        margin: 0 auto 48px;
    }
}

@media screen and (max-width: 964px) {
    .header {
        max-width: 720px;
        margin: 0 auto 48px;

    }
}

@media screen and (max-width: 568px) {
    .header {
        max-width: 288px;
        height: 42px;
        margin: 0 auto 48px;

    }
}

