.footer__link {
    color: #fff;
    text-decoration: none;
    margin-right: 18px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    
}

.footer__link:hover {
   opacity: 0.8; 
}

@media screen and (max-width: 1124px) {
    .photo-grid  {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
    } 
    }


@media screen and (max-width: 964px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap:16px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 568px) {
    .footer__link{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
  
    }
}