.lead__title {
    max-width: 720px;
    margin: 0 0 16px;
    font-size: 6rem;
    line-height: 1.042;
    font-weight: 900;
    text-align: center;
   
}


@media screen and (max-width: 700px) {
    .lead__title {
        max-width: 288px;
        font-size: 2.5rem;
        line-height: 1.100;
    }
}