.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
  
 }

@media screen and (max-width: 568px) {
    .footer__links {
        flex-direction: column;
        align-items: flex-start;
  
    }
}